<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="stylesheet" href="css/loginStyle.css">
    <meta charset="UTF-8">
    <title>Edycja danych</title>
</head>
<body>
    <div class="pageTittle">
        <h1>Edycja danych zlecenia</h1>
    </div>
    <div class="groupPosition">
        <span>Opis zlecenia</span>

        <textarea name="description" placeholder="Wprowadź dane do edycji...">

        </textarea>
        <div class="divPositionButton">
            <button>Zapisz</button>
        </div>
    </div>
</body>
</html>