<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="stylesheet" href="css/loginStyle.css">
    <meta charset="UTF-8">
    <title>Rejestr zleceń</title>
</head>
<body>
<div class="pageTittle">
    <h1>Rejestr zleceń</h1>
</div>
<table>
    <tr>
        <th>ID Zlecenia</th>
        <th>ID Pracownika</th>
        <th>Imię Klienta</th>
        <th>Nazwisko Klienta</th>
        <th>Telefon kontaktowy</th>
        <th>Marka pojazdu</th>
        <th>Opis Zlecenia</th>
    </tr>
</table>
<div class="registerBut">
    <a href="editTask.html">
        <button name="editTask">Edycja danych</button>
    </a>
    <a href="archiving.html">
        <button name="editTask">Archiwizuj zlecenie</button>
    </a>
    <a href="main.html">
        <button name="editTask">Menu główne</button>
    </a>
</div>
</body>
</html>